<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <welcome-file-list>
        <welcome-file>login</welcome-file>
    </welcome-file-list>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <url-pattern>*.html</url-pattern>
            <include-prelude>/connection.jsp</include-prelude>
        </jsp-property-group>
    </jsp-config>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>UploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountsHome</servlet-name>
        <jsp-file>/accounts.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>KawempeSalesAdmin</servlet-name>
        <jsp-file>/admin-display-sales-kaw.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>NakawaSalesAdmin</servlet-name>
        <jsp-file>/admin-display-sales-nak.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>MengoSalesAdmin</servlet-name>
        <jsp-file>/admin-display-sales-men.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>AllSalesAdmin</servlet-name>
        <jsp-file>/admin-sales.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>CreateSalesPerson</servlet-name>
        <jsp-file>/create-account.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>DeleteSalesPerson</servlet-name>
        <jsp-file>/delete-admin.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>EditProducts</servlet-name>
        <jsp-file>/edit.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ModifyProduct</servlet-name>
        <jsp-file>/edit-single.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ModifyingProduct</servlet-name>
        <jsp-file>/edit-single-single.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <jsp-file>/login.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>AddProduct</servlet-name>
        <jsp-file>/new.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>AllProductsAdmin</servlet-name>
        <jsp-file>/products.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>DailySalesPerson</servlet-name>
        <jsp-file>/saleP-daily-sales.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>MonthlySalesPerson</servlet-name>
        <jsp-file>/saleP-monthly-sales.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>WeeklySalesPerson</servlet-name>
        <jsp-file>/saleP-weekly-sales.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>AllProductsSalesPerson</servlet-name>
        <jsp-file>/sales-all-products.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Transact</servlet-name>
        <jsp-file>/transact.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Transacting</servlet-name>
        <jsp-file>/delete1.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <jsp-file>/logout.jsp</jsp-file>
    </servlet>


    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/productUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountsHome</servlet-name>
        <url-pattern>/sales-persons</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateSalesPerson</servlet-name>
        <url-pattern>/create-sales-account</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteSalesPerson</servlet-name>
        <jsp-file>/deleting-account</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AllProductsAdmin</servlet-name>
        <url-pattern>/all-products</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllSalesAdmin</servlet-name>
        <url-pattern>/all-sales-info</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NakawaSalesAdmin</servlet-name>
        <url-pattern>/nak-sales</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KawempeSalesAdmin</servlet-name>
        <url-pattern>/kaw-sales</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MengoSalesAdmin</servlet-name>
        <url-pattern>/men-sales</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllProductsSalesPerson</servlet-name>
        <url-pattern>/shop-products</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProducts</servlet-name>
        <url-pattern>/modify-products</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyProduct</servlet-name>
        <url-pattern>/edit-product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyingProduct</servlet-name>
        <url-pattern>/editing-product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProduct</servlet-name>
        <url-pattern>/new-product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DailySalesPerson</servlet-name>
        <url-pattern>/daily-sales-shop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WeeklySalesPerson</servlet-name>
        <url-pattern>/weekly-sales-shop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MonthlySalesPerson</servlet-name>
        <url-pattern>/monthly-sales-shop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Transact</servlet-name>
        <url-pattern>/transact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Transacting</servlet-name>
        <url-pattern>/transacting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
</web-app>
